<!DOCTYPE html>
<html lang="en">
    <head th:include="fragments/header :: ${debug} ? 'debug_layout' : 'layout'">               
    </head>
    <body>
        <div id="background"></div>
        <div id="wrapper">
            <div class="alert alert-info text-center">
                <strong>
                    <h3>Welcome to the MAGIC Helpdesk Request System</h3>  
                    <h4>Please enter the details of your request using the simple 3-step process below</h4>  
                    <h5>
                        Any queries about filling in the forms, or to discuss your request first, please contact
                        <strong><a href="https://www.bas.ac.uk/profile/lauger/" target="_blank">Laura in MAGIC</a></strong> who will be happy to help<br/>.
                        Any technical problems with this site, please contact the
                        <strong><a href="mailto:servicedesk@bas.ac.uk">BAS IT ServiceDesk</a></strong>.
                    </h5>
                </strong>
            </div>
            <form id="helpdesk-form" class="form-horizontal" method="POST" enctype="multipart/form-data" >
                <!-- Top navigation bar -->
                <div th:include="fragments/nav :: layout"></div>
                <!-- Details panel -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your details</h3>
                    </div>
                    <div id="helpdesk-details-panel" class="panel-body">                        
                    </div>
                </div>
                <!-- Main information panel -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">How can we help you?</h3>
                    </div>
                    <div id="helpdesk-other-panel" class="panel-body">                        
                    </div>            
                </div>
                <!-- AOI panel -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Specify your area of interest in one of the following ways</h3>
                    </div>
                    <div id="helpdesk-aoi-panel" class="panel-body">
                        <div>  
                            <!-- AOI selection method navigation tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#helpdesk-aoi-method-map" role="tab" data-toggle="tab">Drawing on a map</a></li>
                                <li role="presentation"><a href="#helpdesk-aoi-method-corners" role="tab" data-toggle="tab">Corner co-ordinates</a></li>
                                <li role="presentation"><a href="#helpdesk-aoi-method-lat" role="tab" data-toggle="tab">Bounding latitude</a></li>
                                <li role="presentation"><a href="#helpdesk-aoi-method-description" role="tab" data-toggle="tab">Description</a></li>
                                <li role="presentation"><a href="#helpdesk-aoi-method-na" role="tab" data-toggle="tab">Not applicable</a></li>
                            </ul>                                                        
                            
                            <!-- AOI selection panes -->
                            <div class="tab-content" style="padding-top:10px">
                                <div role="tabpanel" class="tab-pane fade in active" id="helpdesk-aoi-method-map">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Draw your area of interest on the appropriate map below<br />
                                                Click the 'Start drawing' button to begin sketching<br />
                                                Click this button a second time to complete the sketch - use 'Clear sketch' to start again
                                            </h3>                
                                        </div>
                                        <div id="helpdesk-aoi-map-panel" class="panel-body">                
                                            <div>

                                                <!-- Map region navigation tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active"><a href="#helpdesk-aoi-map-antarctica" role="tab" data-toggle="tab">Antarctica</a></li>
                                                    <li role="presentation"><a href="#helpdesk-aoi-map-arctic" role="tab" data-toggle="tab">Arctic</a></li>
                                                    <li role="presentation"><a href="#helpdesk-aoi-map-southgeorgia" role="tab" data-toggle="tab">South Georgia</a></li>
                                                    <li role="presentation"><a href="#helpdesk-aoi-map-midlatitudes" role="tab" data-toggle="tab">Mid-latitudes</a></li>
                                                </ul>

                                                <!-- Map panes -->
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane fade in active" id="helpdesk-aoi-map-antarctica">
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="helpdesk-aoi-map-arctic">
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="helpdesk-aoi-map-southgeorgia">
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="helpdesk-aoi-map-midlatitudes">
                                                    </div>                                                    
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="helpdesk-aoi-method-corners">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Enter the corner co-ordinates below</h3>
                                        </div>
                                        <div id="helpdesk-aoi-corners-panel" class="panel-body">                                            
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="helpdesk-aoi-method-lat">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Enter the bounding latitude for a circumpolar map</h3>
                                        </div>
                                        <div id="helpdesk-aoi-lat-panel" class="panel-body">                                                                 
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="helpdesk-aoi-method-description">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Describe the request area below (add supporting attachments in 'How can we help you?' above if required)</h3>
                                        </div>
                                        <div id = "helpdesk-aoi-description-panel" class="panel-body">                                                               
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="helpdesk-aoi-method-na">
                                    <div class="alert alert-info">
                                        You have chosen not to specify any location information. Please make sure you enter the full details of your request under 
                                        &quot;How can we help you?&quot; above
                                    </div>
                                </div>
                            </div>
                            
                            <div class="alert alert-info text-center" style="padding:10px">
                                <h5>We will be in touch via email within a few days to confirm your request and check any further details</h5>
                                <button type="button" id="helpdesk-form-go" class="btn btn-primary">Submit request to MAGIC Helpdesk</button>
                            </div>

                        </div>
                    </div>
                </div>                
            </form>
        </div>
    </body>
</html>