<!DOCTYPE html>
<html lang="en">    
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="MAGIC Helpdesk form submission successful page"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>         
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://cdn.web.bas.ac.uk/magic/favicons/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://cdn.web.bas.ac.uk/magic/favicons/bas.ico"></link>
        <title>Thank you</title>
        <link href="https://cdn.web.bas.ac.uk/magic/css/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet"></link>        
        <link href="https://cdn.web.bas.ac.uk/magic/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
        <link th:href="@{'/static/css/nav.css'}" rel="stylesheet"></link>
        <link th:href="@{'/static/css/thankyou.css'}" rel="stylesheet"></link>        
    </head>    
    <body>
        <div id="wrapper">
            <div th:include="fragments/nav :: layout"></div>
            <div class="container">
                <div class="alert alert-info text-center" role="alert">
                    <h1>Thank you!</h1>
                    <h5>
                        Your request has been successfully added to the MAGIC Helpdesk Tracking System. 
                        We will be in touch via email within a few days to confirm your request and check any further details
                    </h5>
                </div>
            </div>            
        </div>        
    </body>
</html>
