/* Form Widgets library supporting CSS */

/* General */
.label {
    font-size: 100% !important;
}

/* Error feedback hack */
span.form-control-feedback {
    margin-top: 8px;
}

/* File upload input using dropzone.js */
.dropzone {    
    min-height: 200px; 
    height: auto !important; 
    border: 3px orange dashed; 
}

.dropzone-data-error: {
    border: 3px #a94442 dashed !important;
}

.dz-remove {
    display: none;
}

/* Tags input */
.bootstrap-tagsinput {
    width: 100% !important;
}

/* Typeahead input */
p.suggestion {
    margin: 4px 4px 4px 20px;
}

p.suggestion:hover,
p.suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
    cursor: default;
}

div.suggestion-group-header {
    width: 95%;
    font-weight: bold; 
    margin-left: 10px; 
    border-bottom: 1px solid #ccc000;
}

span.twitter-typeahead .tt-menu {
    position: absolute;
    top: 100%;
    width: 300px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

span.twitter-typeahead {
    width: 100%;
}

