<div th:fragment="assets" th:remove="tag">
    <link href="https://cdn.web.bas.ac.uk/magic/css/openlayers/4.2.0/ol.css" rel="stylesheet"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/bootstrap-datetimepicker/4.17.47/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/bootstrap-combobox/1.1.6-font-awesome/bootstrap-combobox.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/bootstrap-select/1.12.4/bootstrap-select.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/bootstrap-tagsinput/0.6.1/bootstrap-tagsinput.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/dropzone/4.3.0/dropzone.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/formwidgets/1.0.0/formwidgets.min.css" rel="stylesheet" type="text/css"></link>
</div>
