<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="MAGIC Helpdesk Request System"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://cdn.web.bas.ac.uk/magic/favicons/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://cdn.web.bas.ac.uk/magic/favicons/bas.ico"></link>
        <title>MAGIC Helpdesk Request System</title>
        <div th:replace="fragments/cdncss :: assets"></div>
        <link th:href="@{'/static/dist/helpdesk.min.css'}" rel="stylesheet"></link>  
        <div th:replace="fragments/cdnjs :: assets"></div>
        <script th:src="@{'/static/dist/helpdesk.min.js'}"></script>
        <script type="text/javascript">
            
            jQuery(document).ready(function () {
                jQuery('[data-toggle="tooltip"]').tooltip({trigger: "hover"});
                /* For dynamic tooltips - http://stackoverflow.com/questions/9958825/how-do-i-bind-twitter-bootstrap-tooltips-to-dynamically-created-elements */
                jQuery("body").tooltip({selector: '[data-toggle="tooltip"]', trigger: "hover"});               
                magic.runtime.helpdesk = new magic.classes.HelpdeskPanel();
            });
            
        </script> 
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="MAGIC Helpdesk Request System"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://cdn.web.bas.ac.uk/magic/favicons/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://cdn.web.bas.ac.uk/magic/favicons/bas.ico"></link>
        <title>MAGIC Helpdesk Request System</title>
        <div th:replace="fragments/cdncss :: assets"></div>
        <link th:href="@{'/static/css/nav.css'}" rel="stylesheet"></link>
        <link th:href="@{'/static/css/helpdesk.css'}" rel="stylesheet"></link>  
        <div th:replace="fragments/cdnjs_debug :: assets"></div>
        <script th:src="@{'/static/js/init.js'}"></script>
        <script th:src="@{'/static/js/components/DetailsPanel.js'}"></script>
        <script th:src="@{'/static/js/components/AoiPanel.js'}"></script>        
        <script th:src="@{'/static/js/components/OtherInformationPanel.js'}"></script> 
        <script th:src="@{'/static/js/components/HelpdeskPanel.js'}"></script>  
        <script type="text/javascript">
            
            jQuery(document).ready(function () {
                jQuery('[data-toggle="tooltip"]').tooltip({trigger: "hover"});
                /* For dynamic tooltips - http://stackoverflow.com/questions/9958825/how-do-i-bind-twitter-bootstrap-tooltips-to-dynamically-created-elements */
                jQuery("body").tooltip({selector: '[data-toggle="tooltip"]', trigger: "hover"});               
                magic.runtime.helpdesk = new magic.classes.HelpdeskPanel();
            });
            
        </script> 
    </head>
    <body>        
    </body>
</html>
